﻿@model IEnumerable<AcerCMS.Models.News>

@{
    ViewBag.Title = "Haberler Ve Duyurular";
}

<h2>Son Haberler</h2>
@if (Model.Any())
{
    <ul class="list-group">

        @foreach (var news in Model)
        {
            <li class="list-group-item">
                <h3>
                    @news.Title <small>@news.UpdateDate.ToShortDateString()</small>
                    <span class="label label-info">@news.ViewCount</span>
                </h3>
                <p class="lead">@news.ShortDesctription</p>
                <p class="text-right">
                    @Html.ActionLink("Devami için Tıklayınız...", "ReadNews", "News", new { id = news.Id }, null)
                </p>
            </li>
        }
    </ul>
}
else
{
    <div class="alert alert-warning">
        Henüz Haber Eklenmemiş!
    </div>
}
