﻿@model IEnumerable<AcerCMS.Models.Picture>
@{
    ViewBag.Title = "Index";
}

<h2>Resimler</h2>
@if (Model.Any())
{
    <ul class="list-group">

        @foreach (var picture in Model)
        {
            <li class="list-group-item">
                <p>@picture.Title</p>
                <img src="~/@picture.Path/@picture.FileName" style="width: 200px; height: 150px; border: 5px solid #ddd; border-radius: 5px;" />
                <p>@picture.Description</p>
            </li>
        }
    </ul>
}
else
{
    <div class="alert alert-warning">
        Henüz Resim Eklenmemiş!
    </div>
}

